<ion-header class="ion-no-border">
	<ion-toolbar color="ligth">
		<ion-title color="dark" class="ion-text-center">Agregar Familiar</ion-title>
		<ion-buttons slot="end" (click)="cerrarModal()">
			<ion-icon color="dark" slot='icon-only' size='large' name='close-outline'>
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<form [formGroup]="datosFamiliar.formulario">
		<ion-list lines="full" [formGroup]="datosFamiliar.formulario">

			<app-select-autogestion (valorSelect)="cambiosComponenteSelect($event)" [cambiovalor]="cambiovalor"
				[lista]="getTipoDocumento" [formulario]="datosFamiliar.formulario" valueField="tipodoc_id"
				formControlSelect="tipodoc_id" textField="nombre" title="* Tipo de documento">
			</app-select-autogestion>

			<ion-item>
				<ion-label position="floating" color="dark">* N° de documento</ion-label>
				<ion-input formControlName="num_docu" color="dark" type="text"></ion-input>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosFamiliar.formulario.get('num_docu').touched" color="danger">{{
					datosFamiliar.formulario.get('num_docu')['errorMessage'] }}</ion-text>
			</ion-item>

			<app-select-autogestion (valorSelect)="cambiosComponenteSelect($event)" [cambiovalor]="cambiovalor"
				[lista]="getParentesco" [formulario]="datosFamiliar.formulario" valueField="parentesco_id"
				formControlSelect="parentesco_id" textField="nombre" title="* Parentesco">
			</app-select-autogestion>

			<ion-item>
				<ion-label position="floating" color="dark">* Nombre y Apellidos</ion-label>
				<ion-input formControlName="nombre" color="dark" type="text"></ion-input>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosFamiliar.formulario.get('nombre').touched" color="danger">{{
					datosFamiliar.formulario.get('nombre')['errorMessage'] }}</ion-text>
			</ion-item>

			<ion-item id="open-model2">
				<ion-label position="floating" color="dark">* Fecha Nacimiento</ion-label><br>
				<ion-input formControlName="fecha_nac" id="selectFecha2" expand="block"  display-format="DD-MM-YYYY"  
				[max]="maximoFechanacimiento" presentation='date'></ion-input>
				<div>
					<ion-modal #modalFechaFamiliar  trigger="open-model2">
						<ng-template>
							<ion-header>
								<ion-toolbar>
									<ion-button color="dark" slot="start" (click)="confirmar()">
										Confirmar
									</ion-button>
									<ion-title>Fecha Nacimiento</ion-title>
									<ion-buttons slot="end">
										<ion-button (click)="cerrarModalFecha()">
											<ion-icon slot="icon-only" name="close"></ion-icon>
										</ion-button>
									</ion-buttons>
								</ion-toolbar>
							</ion-header>
							<ion-content>
								<ion-datetime #updateFechaModal formControlName="fecha_nac" display-format="DD-MM-YYYY"  
								[max]="maximoFechanacimiento" presentation='date' id="selectFecha"></ion-datetime>
							</ion-content>
						</ng-template>
					</ion-modal>
				</div>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosFamiliar.formulario.get('fecha_nac').touched" color="danger">{{
						datosFamiliar.formulario.get('fecha_nac')['errorMessage'] }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="floating" color="dark">Telefono fijo</ion-label>
				<ion-input formControlName="tel_fijo" color="dark" type="text"></ion-input>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosFamiliar.formulario.get('tel_fijo').touched" color="danger">{{
					datosFamiliar.formulario.get('tel_fijo')['errorMessage'] }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="floating" color="dark">* Telefono celular</ion-label>
				<ion-input formControlName="celular" color="dark" type="text" required></ion-input>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosFamiliar.formulario.get('celular').touched" color="danger">{{
					datosFamiliar.formulario.get('celular')['errorMessage'] }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="floating" color="dark">* Dirección</ion-label>
				<ion-input formControlName="direccion" color="dark" type="text" required></ion-input>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosFamiliar.formulario.get('direccion').touched" color="danger">{{
					datosFamiliar.formulario.get('direccion')['errorMessage'] }}</ion-text>
			</ion-item>
		</ion-list>
	</form>

</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-title>
			<ion-button [disabled]="datosFamiliar.formulario.invalid" type="button" class="ion-no-margin" shape="round"
				expand="full" (click)="submitDataFamiliaContacto('FamiliaresAcudientes')">
				Registrar Familiar
				<ion-icon slot="start" name="save-outline"></ion-icon>
			</ion-button>
		</ion-title>
	</ion-toolbar>
</ion-footer>