<ion-header class="ion-no-border">
	<ion-toolbar color="ligth">
		<ion-title color="dark" class="ion-text-center">Solicitar Permiso</ion-title>
		<ion-buttons slot="end" (click)="cerrarModal()">
			<ion-icon color="dark" slot='icon-only' size='large' name='close-outline'>
			</ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<form [formGroup]="datosSolicitud.formulario">
		<ion-list lines="full">

			<ion-item>
				<ion-label position="floating" color="dark">* Tipo Ausentismo</ion-label>
				<ion-select formControlName="TipoAusentismoId" okText="Aceptar" cancelText="Cancelar"
					[interfaceOptions]="{cssClass: 'modal-color'}" placeholder="Selecciona el Tipo de Ausentismo">
					<ion-select-option color="dark" *ngFor="let item of ausentimos;" [value]="item['id']">{{
						item['nombre'] }}
					</ion-select-option>
				</ion-select>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosSolicitud.formulario.get('TipoAusentismoId').touched" color="danger">{{
					datosSolicitud.formulario.get('TipoAusentismoId')['errorMessage'] }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="floating" color="dark">* Fecha Inicio</ion-label><br>
				<ion-input formControlName="FechaInicio"  id="selectFechaInicio" expand="block"  display-format="DD-MM-YYYY" presentation='date' required></ion-input>
					<ion-popover trigger="selectFechaInicio" size="cover" class="">
						<ng-template>
							<ion-datetime display-format="DD-MM-YYYY"  formControlName="FechaInicio" presentation='date' id="Fechainicio" [showDefaultButtons]="true" doneText="Confirmar" cancelText="Cancelar" (ionChange)="confirmarInicio($event)"></ion-datetime>
						</ng-template>
					</ion-popover>
			</ion-item>

			<ion-item>
				<ion-label position="floating" color="dark">* Fecha Fin</ion-label><br>
				<ion-input formControlName="FechaFin"  id="selectFechaFin" expand="block"  display-format="DD-MM-YYYY" presentation='date' required></ion-input>
					<ion-popover trigger="selectFechaFin" size="cover" class="">
						<ng-template>
							<ion-datetime display-format="DD-MM-YYYY"  formControlName="FechaFin" presentation='date' id="FechaFin" [showDefaultButtons]="true" doneText="Confirmar" cancelText="Cancelar" (ionChange)="confirmarFin($event)"></ion-datetime>
						</ng-template>
					</ion-popover>
			</ion-item>
			
			<ion-item>
				<ion-label position="floating" color="dark">* Tipo Calculo</ion-label>
				<ion-select formControlName="TipoCalculo" [(ngModel)]="selectedOption" (ionChange)="onSelectChange()" okText="Aceptar" cancelText="Cancelar" 
					[interfaceOptions]="{cssClass: 'modal-color'}" placeholder="Selecciona el tipo de calculo">
					<ion-select-option color="dark" *ngFor="let item of tipoCalculo;" [value]="item.valor">{{
						item['titulo'] }}
					</ion-select-option>
				</ion-select>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosSolicitud.formulario.get('TipoCalculo').touched" color="danger">{{
					datosSolicitud.formulario.get('TipoCalculo')['errorMessage'] }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="floating" color="dark">Dias Ausentismo</ion-label>
				<ion-input formControlName="Dias" color="dark" type="text" id="diasAusentismo" [(ngModel)]="diasAusentismo" disabled></ion-input>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosSolicitud.formulario.get('Dias').touched" color="danger">{{
					datosSolicitud.formulario.get('Dias')['errorMessage'] }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="floating" color="dark">Horas Ausentismo</ion-label>
				<ion-input formControlName="horas" color="dark" type="text" id="horasAusentismo" disabled></ion-input>
				<ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosSolicitud.formulario.get('horas').touched" color="danger">{{
					datosSolicitud.formulario.get('horas')['errorMessage'] }}</ion-text>
			</ion-item>

			<ion-item>
				<ion-label position="floating" color="dark">CIE 10</ion-label>
				<ion-select style="width: 100% !important;" [multiple]="true" formControlName="cie10" okText="Aceptar" cancelText="Cancelar"
					[interfaceOptions]="{cssClass: 'modal-color'}" placeholder="Selecciona una o varias opciones" >
					<ion-select-option color="dark" *ngFor="let item of enfermedades;" [value]="item['id']">{{
						item['nombre'] }}
					</ion-select-option>
				</ion-select>
			</ion-item>

			<!-- <ion-item>
				<ion-content color="light" class="ion-padding">
					<ion-list id="modal-list" [inset]="true">
						<ion-item [button]="true" [detail]="false" id="select-fruits">
							<ion-label>CIE 10</ion-label>
							<div slot="end" id="select-fruits">{{selectedFruitsText}}</div>
						</ion-item>
					</ion-list>
				</ion-content>2
				
				<ion-modal trigger="select-fruits" #modal>
					<ng-template>
						<app-typeahead class="ion-page" title="favorite fruits" [items]="fruits" [selectedItems]="selectedFruits" (selectionChange)="fruitSelectChanged($evenet)" (selectionCancel)="modal.dissmiss()"></app-typeahead>
					</ng-template>
				</ion-modal>
			</ion-item> -->

			<ion-item>
				<ion-label position="floating" color="dark">Observaciones</ion-label>
				<ion-input formControlName="Observacion" color="dark" type="text"></ion-input>
				<!-- <ion-text class="animate__animated animate__bounceIn animate__faster"
					*ngIf="datosAdicionales.formulario.get('observacion').touched" color="danger">
					{{ datosSolicitud.formulario.get('observacion')['errorMessage'] }}
				</ion-text> -->
			</ion-item>
		</ion-list>
	</form>

</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-title>
			<ion-button [disabled]="datosSolicitud.formulario.invalid" type="submit" class="ion-no-margin" shape="round"
				expand="full" (click)="submitDataFamiliaContacto()">
				Agregar
				<ion-icon slot="start" name="save-outline"></ion-icon>
			</ion-button>
		</ion-title>
	</ion-toolbar>
</ion-footer>
