<app-header titulo="Solicitar Vacaciones"></app-header>
<ion-progress-bar *ngIf="searching" type="indeterminate"></ion-progress-bar>

<ion-content class="ion-padding-top">

	<ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

	<ion-accordion-group value="SV">

		<ion-accordion value="SV" toggle-icon="arrow-down-circle">
			<ion-item class="b-item" slot="header">
				<ion-label>Periodos vacacionales pendientes </ion-label>
			</ion-item>

			<ion-list slot="content">
				<ion-segment value="pendientes" [(ngModel)]="segmento">
					<ion-segment-button value="historicoFamilia">
						<ion-label>Lista pendientes</ion-label>
					</ion-segment-button>
					<ion-segment-button value="pendientes">
						<ion-label>Registrar Solicitud</ion-label>
					</ion-segment-button>
				</ion-segment>

				<div class="informacion-familiar" [ngSwitch]="segmento" color="gray">
					<ion-searchbar *ngIf="segmento=='historicoFamilia'"
						(ionChange)="buscarFiltro('buscarListaHistorico', $event)" clearIcon="close-sharp"
						placeholder="Buscar Estado" [debounce]="250"></ion-searchbar>
					<div *ngSwitchCase="'historicoFamilia'">

						<ion-list lines="full" class="ion-no-padding">

							<ion-item *ngFor="let item of qPendientes | filtro: 'Estado': buscarListaHistorico;"
								class="ion-margin familiar" lines="none" [style]="item['Color']">

								<ion-label>
									<h2 class="ion-text-center">{{ item['nombre'] }}</h2>
									<div class="item d-flex justify-content-between">
										<span><b>Fecha Inicio</b></span>
										<span>{{ item['FechaInicio'] }}</span>
									</div>
									<div class="item d-flex justify-content-between">
										<span><b>Días compensados</b></span>
										<span>{{ item['DiaCompensado'] }}</span>
									</div>

									<div class="item d-flex justify-content-between">
										<span><b>Estado solicitud</b></span>
										<ion-label class="ion-text-wrap">
											<ion-text [color]="item['ColorEstado']">
												<span><b>{{ item['Estado'] }}</b></span>
											</ion-text>
										</ion-label>
									</div>

								</ion-label>
							</ion-item>
						</ion-list>
						<div class="ion-padding ion-text-center nohayresultado"
							*ngIf="!qPendientes.length && !searching">
							No tiene solicitud en el historico.
						</div>
					</div>

					<div *ngSwitchCase="'pendientes'">
						<ion-list lines="full" [formGroup]="datosSolicitud.formulario">


							<ion-item class="ion-align-items-center">
								<ion-label position="floating" color="dark">Fecha inicio</ion-label><br>
								<ion-datetime style="margin-bottom: 0px;margin-top: 25px;" formControlName="FechaInicio"
									display-format="DD-MM-YYYY" display-format="DD-MM-YYYY" cancelText="Cancelar"
									doneText="Aceptar" [min]="maximoFechanacimiento" presentation='date'>
								</ion-datetime>

								<ion-text class="animate__animated animate__bounceIn animate__faster"
									*ngIf="datosSolicitud.formulario.get('FechaInicio').touched" color="danger">{{
									datosSolicitud.formulario.get('FechaInicio')['errorMessage'] }}</ion-text>
							</ion-item>

							<ion-item>
								<ion-label position="floating" color="dark">Dias compensados</ion-label>
								<ion-input formControlName="DiaCompensado" color="dark" type="text"></ion-input>
								<ion-text class="animate__animated animate__bounceIn animate__faster"
									*ngIf="datosSolicitud.formulario.get('DiaCompensado').touched" color="danger">{{
									datosSolicitud.formulario.get('DiaCompensado')['errorMessage'] }}</ion-text>
							</ion-item>

							<ion-grid class="ion-no-margin">
								<ion-row>
									<ion-col size="12" size-xs='12' size-lg='12' size-md='12'
										class="ion-align-self-center ion-text-center">
										<ion-button [disabled]="datosSolicitud.formulario.invalid" type="submit"
											class="ion-no-margin" (click)="submitDataFamiliaContacto()">
											Registrar Solicitud
											<ion-icon slot="start" name="save-outline"></ion-icon>
										</ion-button>
									</ion-col>
								</ion-row>
							</ion-grid>

						</ion-list>
					</div>

				</div>
			</ion-list>
		</ion-accordion>

		<ion-accordion value="VD" toggle-icon="arrow-down-circle">
			<ion-item class="b-item" slot="header">
				<ion-label>Periodos vacacionales disfrutados o pagados</ion-label>
			</ion-item>

			<ion-list slot="content">
				<div class="informacion-familiar" color="gray">
					<ion-searchbar (ionChange)="buscarFiltro('buscarDisfrutados', $event)" clearIcon="close-sharp"
						placeholder="Buscar Nombre" [debounce]="250"></ion-searchbar>
					<div>
						<ion-list lines="full" class="ion-no-padding">
							<ion-item *ngFor="let item of qAprobados | filtro: 'fechIni': buscarDisfrutados;"
								class="ion-margin familiar" lines="none" [style]="item['Color']">

								<ion-label>
									<h2 class="ion-text-center">{{ item['nombre'] }}</h2>
									<div class="item d-flex justify-content-between">
										<span><b>Fecha Inicio</b></span>
										<span>{{ item['fechIni'] }}</span>
									</div>
									<div class="item d-flex justify-content-between">
										<span><b>Fecha Fin</b></span>
										<span>{{ item['fechaFin'] }}</span>
									</div>

									<div class="item d-flex justify-content-between">
										<span><b>Dias Aprobados</b></span>
										<span>{{ item['dias'] }}</span>
									</div>

									<div class="item d-flex justify-content-between">
										<span><b>Dias disfrutados</b></span>
										<span>{{ item['disfrutado'] }}</span>
									</div>

									<div class="item d-flex justify-content-between">
										<span><b>Valor</b></span>
										<span>{{ item['Valor'] }}</span>
									</div>

									<div class="item d-flex justify-content-between">
										<span><b>Fecha liquidación</b></span>
										<span [style]="item['Color']">{{ item['FechaLiqui'] }}</span>
									</div>

								</ion-label>
							</ion-item>
						</ion-list>
						<div class="ion-padding ion-text-center nohayresultado"
							*ngIf="!qAprobados.length && !searching">
							No tiene solicitud en el historico.
						</div>
					</div>
				</div>
			</ion-list>
		</ion-accordion>

	</ion-accordion-group>
</ion-content>