<ion-header class="ion-no-border">
	<ion-toolbar mode='ios'>
		<ion-buttons (click)="toggleMenu()" slot="start" style="cursor: pointer;">
			<ion-icon slot='icon-only' size='large' name='menu-outline'></ion-icon>
		</ion-buttons>
		<ion-title class="ion-text-capitalize">{{ titulo }}</ion-title>
		<!-- <ion-buttons slot="end">
			<ion-button (click)="cerrarSesion()">
				<ion-icon slot="icon-only" size='large' name="log-out-outline">
				</ion-icon>
			</ion-button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>